# Data Wrangling

### Introduction

Data wrangling is the process of cleaning, restructuring and enriching data. It can turn, or map, large amounts of raw data into a different format that makes the data more useful for the purposes of consumption and analysis, by better organizing it. It can combine diverse data into indexed and searchable data sets.

#### Key concepts
- Importing dataframes
- Cleaning dataframes
- Merging and filtering dataframes
- Manipulating rows and columns

#### Importing modules

In [1]:
import pandas as pd
import numpy as np

#### Examining dataframes

In [2]:
ps_df = pd.read_csv("../datasets/personality_scores.csv", delimiter=';')
ps_df.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Delimiter=';' removed to restructure the data and make it simple to examine on both data frames

#### Cleaning up the personality_scores dataframe

In [3]:
ps_df.describe()

,ID,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
count,1555.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,777.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,449.034149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,388.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,777.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1165.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1554.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ps_df.isnull().sum()

ID                                                           0
Section 5 of 6 [I am always prepared.]                       0
Section 5 of 6 [I am easily disturbed.]                      0
Section 5 of 6 [I am exacting (demanding) in my work.]       0
Section 5 of 6 [I am full of ideas.]                         0
                                                          ...
Unnamed: 65                                               1555
Unnamed: 66                                               1555
Unnamed: 67                                               1555
Unnamed: 68                                               1555
IPIP_HIGH_RISK                                            1555
Length: 70, dtype: int64

In [5]:
for personality in ps_df:
    if "Unnamed:" in personality:
        del ps_df[personality]
    elif "IPIP_HIGH_RISK" in personality:
        del ps_df[personality]

In [6]:
ps_df.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

#### Renaming the columns for better readability.

In [7]:
ps_df.rename(columns=lambda x: x.replace('Section 5 of 6 [', ''), inplace=True)

In [8]:
ps_df.rename(columns=lambda x: x.replace('.]', ''), inplace=True)

In [9]:
ps_df.columns

Index(['ID', 'I am always prepared', 'I am easily disturbed',
       'I am exacting (demanding) in my work', 'I am full of ideas',
       'I am interested in people', 'I am not interested in abstract ideas',
       'I am not interested in other people's problems',
       'I am not really interested in others',
       'I am quick to understand things', 'I am quiet around strangers',
       'I am relaxed most of the time', 'I am the life of the party',
       'I change my mood a lot', 'I do not have a good imagination',
       'I don't like to draw attention to myself',
       'I don't mind being the center of attention', 'I don't talk a lot',
       'I feel comfortable around people', 'I feel little concern for others',
       'I feel others' emotions', 'I follow a schedule',
       'I get chores done right away', 'I get irritated easily',
       'I get stressed out easily', 'I get upset easily',
       'I have a rich vocabulary', 'I have a soft (kind) heart',
       'I have a vivid imagination',
       'I have difficulty understanding abstract ideas',
       'I have excellent ideas', 'I have frequent mood swings',
       'I have little to say', 'I insult people', 'I keep in the background',
       'I leave my belongings lying around', 'I like order',
       'I make a mess of things', 'I make people feel at ease',
       'I neglect my duties', 'I often feel blue (down)',
       'I often forget to put things back in their proper place]',
       'I pay attention to details', 'I seldom feel blue (down)',
       'I spend time reflecting on things', 'I start conversations',
       'I sympathize with others' feelings', 'I take time out for others',
       'I talk to a lot of different people at parties',
       'I use difficult words', 'I worry about things'],
      dtype='object')

In [10]:
ps_df.rename(columns=lambda x: x.replace(']', ''), inplace=True)

In [11]:
ps_df.head()

,ID,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

#### Setting ID column as index

In [12]:
newps_df = ps_df
newps_df = newps_df.set_index('ID')
newps_df.head()

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

#### Asserting if the new data frame is the length of the unique entries of the original data frame

In [13]:
len(ps_df) == len(newps_df)

True

In [14]:
assert len(ps_df) == len(newps_df), "The new data frame is not the length of the unique entries of the original data frame"

- This proves to be true since the assert error message does not show up

### Importing the data in departments.csv. , keeping all applicants within the department data frame.

In [15]:
dep_df = pd.read_csv("../datasets/departments.csv", delimiter=';')
dep_df

        ID Department
0        0       Data
1        1       Data
2        2       Data
3        3       Data
4        4       Data
...    ...        ...
1550  1550    Web dev
1551  1551    Web dev
1552  1552    Web dev
1553  1553    Web dev
1554  1554    Web dev

[1555 rows x 2 columns]

- Delimiter=';' removed to restructure the data and make it simple to examine the dataframe

In [16]:
dep_df.describe()

                ID
count  1555.000000
mean    777.000000
std     449.034149
min       0.000000
25%     388.500000
50%     777.000000
75%    1165.500000
max    1554.000000

In [17]:
dep_df.isnull().sum()

ID            0
Department    0
dtype: int64

#### Setting ID column as index

In [18]:
dep_new = dep_df.set_index('ID')
dep_new

     Department
ID
0          Data
1          Data
2          Data
3          Data
4          Data
...         ...
1550    Web dev
1551    Web dev
1552    Web dev
1553    Web dev
1554    Web dev

[1555 rows x 1 columns]

Checking if the Departments have been named correctly

In [19]:
dep_new['Department'].unique()

array(['Data', 'Web Dev', 'Copywriting', 'Design', 'Strategy', 'Web dev'],
      dtype=object)

Since we have a duplicate column of web dev, making them upper case for uniformity will rectify the data

In [20]:
def uppercase(df):
    return df.upper()

In [21]:
dep_new = dep_new['Department'].apply(uppercase)
dep_new

ID
0          DATA
1          DATA
2          DATA
3          DATA
4          DATA
         ...
1550    WEB DEV
1551    WEB DEV
1552    WEB DEV
1553    WEB DEV
1554    WEB DEV
Name: Department, Length: 1555, dtype: object

Transforming dep_new back into a dataframe

In [22]:
dep_new = pd.DataFrame(dep_new)
dep_new

     Department
ID
0          DATA
1          DATA
2          DATA
3          DATA
4          DATA
...         ...
1550    WEB DEV
1551    WEB DEV
1552    WEB DEV
1553    WEB DEV
1554    WEB DEV

[1555 rows x 1 columns]

In [23]:
dep_new['Department'].unique()

array(['DATA', 'WEB DEV', 'COPYWRITING', 'DESIGN', 'STRATEGY'],
      dtype=object)

#### Computing personality trait columns and subscale sum

In [24]:
def subscales(newps_df):
    left = newps_df.str[1]
    return left

In [25]:
subscale = newps_df.apply(subscales, axis=1).astype(int)
subscale.head()

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
ID,,,,,,,,,,,,,,,,,,,,,
0,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
1,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
2,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
3,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
4,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4

In [26]:
def scored_response(combined):
    right = combined.str[4]
    return right

In [27]:
score = newps_df.apply(scored_response, axis=1).astype(int)
score.head()

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
ID,,,,,,,,,,,,,,,,,,,,,
0,5,5,5,5,3,3,3,5,5,3,...,5,5,3,5,3,5,5,3,1,3
1,5,5,5,5,5,3,5,5,5,3,...,5,1,1,5,5,5,5,5,3,3
2,5,3,3,5,5,5,5,5,5,1,...,5,5,1,3,3,5,5,3,1,3
3,5,5,3,5,5,3,3,3,3,3,...,1,5,1,5,5,5,5,5,1,1
4,3,5,3,3,3,3,3,3,5,1,...,5,5,5,5,3,3,5,3,1,3

In [28]:
subscale_map = {
        1: {"p_trait": "Extraversion", "subscale": 1},
        2: {"p_trait":"Agreeableness","subscale": 2},
        3: {"p_trait":"Conscientiousness","subscale": 3},
        4: {"p_trait":"Emotional Stability","subscale": 4},
        5: {"p_trait":"Intellect","subscale": 5}
        }

In [29]:
def subscale_sum(df, item, key):
    total = 0
    for column in df.columns:
        score = item[column]
        if type(score) == str:
            result = int(score[4])
            if int(score[1]) == subscale_map[key]["subscale"]:
                total += result
    return total

In [30]:
for subscale in subscale_map:
    newps_df[subscale_map[subscale]['p_trait']] = newps_df.apply(
        lambda row: subscale_sum(newps_df, row, subscale), axis=1)
newps_df.head()

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36

- Personality trait columns have been added together with their corresponding sum

#### Merging personality scores dataframe with the departments dataframe

In [31]:
combined = pd.merge(dep_new, newps_df, how='inner', left_on = 'ID', right_on = 'ID')
combined.head()

,Department,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
ID,,,,,,,,,,,,,,,,,,,,,
0,DATA,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,DATA,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,DATA,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,DATA,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,DATA,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36

#### Using an assert statement to check that the newly created merged data frame has the same amount of rows as the department data frame and the expected number of columns.

In [32]:
len(dep_new) == len(combined)

True

In [33]:
dep_new.shape

(1555, 1)

In [34]:
combined.shape

(1555, 56)

In [35]:
assert len(dep_new) == len(combined), "dataframe length differs"

- The dataframes have the same number of rows

### Filtering the merged data frame so that I get only the applicants who scored less than 30 on emotional stability, conscientiousness AND agreeableness.

In [36]:
scored_less = combined.loc[(combined['Emotional Stability'] < 30) 
                           & (combined['Conscientiousness'] < 30) 
                           & (combined['Agreeableness'] < 30)]
scored_less

,Department,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
ID,,,,,,,,,,,,,,,,,,,,,
881,DATA,"(3, 3)","(4, 1)","(3, 1)","(5, 5)","(2, 1)","(5, 3)","(2, 5)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 3)","(1, 5)","(5, 1)","(4, 1)",30,28,26,28,36
1197,COPYWRITING,"(3, 5)","(4, 5)","(3, 1)","(5, 1)","(2, 1)","(5, 3)","(2, 5)","(2, 1)","(5, 1)",...,"(2, 5)","(2, 1)","(1, 3)","(5, 5)","(4, 1)",40,22,26,26,28

#### Displaying the ID numbers and departments of the applicants who scored less than 30

In [37]:
scored_less[['Department']]

       Department
ID
881          DATA
1197  COPYWRITING

In [38]:
scored_less["Department"].value_counts()

DATA           1
COPYWRITING    1
Name: Department, dtype: int64

#### Assigning these applicants the tag “high_risk” in a new column (Risk), together with all other applicants getting the tag “low_risk”.

In [39]:
combined["Risk"] = np.where((combined['Emotional Stability'] < 30) 
                           & (combined['Conscientiousness'] < 30) 
                           & (combined['Agreeableness'] < 30)
                            , 'high_risk', 'low_risk')

In [40]:
combined.head(2)

,Department,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect,Risk
ID,,,,,,,,,,,,,,,,,,,,,
0,DATA,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42,low_risk
1,DATA,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42,low_risk

### Creating a new data frame with a count of the number of low and high-risk applicants within each department. Each department made to be a separate column.

In [41]:
dep_risk = {'Risk': ['low_risk', 'high_risk']}

def risk_count (df, dep):
    count = len(df[df.Department == dep])
    if dep in dep_risk:
        dep_risk[dep].append(count)
    else:
        dep_risk[dep] = [count]

In [42]:
scored_high = combined.loc[(combined['Risk'] == 'low_risk') ]

In [43]:
scored_high.shape

(1553, 57)

In [44]:
scored_less.shape

(2, 56)

In [45]:
for dep in scored_high.Department.unique():
    risk_count(scored_high, dep)
    
for dep in scored_less.Department.unique():
    risk_count(scored_less, dep)
    
for risk in dep_risk:
    if len(dep_risk[risk]) == 1:
        dep_risk[risk].append(0)
        
pd.DataFrame(dep_risk)

        Risk  DATA  WEB DEV  COPYWRITING  DESIGN  STRATEGY
0   low_risk   328      331          325     120       449
1  high_risk     1        0            1       0         0

- There only two high risk applicants

# Conclusion

- All imported DataFrames have been examined, restructured, cleaned and prepared for use.